@model List<Producto>

@{
    ViewData["Title"] = "Billing";
    Layout = null;
    var productos = ViewData["Cart"] as List<Producto>;
    var precio = ViewData["Precio"];
}

@using (Html.BeginForm("Pay", "billingController","GoBack"))
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        
    </head>
    <body>
        <h2>Facturación</h2>
        <b>Ítems seleccionado: </b> @productos.Count()
        <br />
        <b>Costo total: </b>@precio.ToString()
        <br />
        <p>
            <input type="submit" value="Pagar"/>
        </p>
        
    </body>
    </html>
}
@using (Html.BeginForm("billingController","GoBack"))
{
    <a href="../billingController/GoBack">
        <input type="button" value="Cancelar" />
    </a>
        
}