


@{
    ViewData["Title"] = "Billing";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width"/>
    <tittle>Billing</tittle>
</head>
<body>
    <h2>Bill information</h2>
    <p>Número de productos</p>
    <p>Costo total</p>
</body>
</html>