


@using (Html.BeginForm("VerMenu", "billingController"))
{
<h1>
Pedido realizado
</h1>

<p>Gracias por usar nuestro servicio </p>


<a>
            <input type="submit" value="Ver menú" />
        </a>
}