
@model Usuario

@{
    ViewData["Title"] = "Billing";
    Layout = null;
}
Html.
@using (Html.BeginForm("Pay", "billingController","GoBack"))
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        <tittle></tittle>
    </head>
    <body>
        <h2>Facturación</h2>
        <b>Número de productos</b> @Model.Password
        <br />
        <b>Costo total</b>
        <br />
        <p>Costo total</p> @Model.ID
        <p>
            <input type="submit" value="pay"/>
        </p>
        <p>
            <input type="submit" value="GoBack"/>
        </p>
        
    </body>
    </html>
}