

<h1>
    Ingrese valores
</h1>
<p>Todos los campos con obligatorios</p>

@using (Html.BeginForm("billingController","Pay"))
{

<a href="../billingController/Pay">
        <input type="button" value="Volver a intentar" />
    </a>

}

