

@Model Pedido

@{
    var distancia = ViewData["distancia"] as string;
}

<h1>
    Pedido realizado
</h1>
<p>La tienda seleccionada queda a @distancia de distancia</p>

@using (Html.BeginForm("billingController","VerMenu"))
{

<a href="../billingController/VerMenu">
        <input type="button" value="Ver menú" />
    </a>
}